<header class="header">
  <div class="logo"><a href="<%- rootPath %>" id="LogoImg">ロゴ</a></div>
  <nav class="nav">
    <a href="<%- rootPath %>">HOME</a>
    <a href="<%- rootPath %>about/about.html">ABOUT</a>
  </nav>
</header>
