<% title = 'アバウトページ'; description = '説明文'; rootPath = '../'; noindex =
false;//noindexの制御 %>

<!DOCTYPE html>
<html lang="ja">
  <%- include(rootPath + 'common/_head') %>
  <body>
    <!-- header -->
    <%- include(rootPath + './common/_header') %>

    <p>Aboutページ</p>

    <img src="<%- rootPath + 'img/image.jpg' %>" alt="" />

    <!-- footer -->
    <%- include(rootPath + './common/_footer') %>
  </body>
</html>
