<% title = 'アバウトページ'; description = '説明文'; rootPath = './'; noindex =
false; %>

<!DOCTYPE html>
<html lang="ja">
  <%- include(rootPath + 'common/_head') %>
  <body>
    <!-- header -->
    <%- include('./common/_header') %>

     <!-- メイン -->
    <p>ここに本文<span>だよ</span></p>
    <div class="test"><div class="test2"></div></div>
    <img src="<%- rootPath + 'img/image.jpg' %>" alt="" />

    <!-- テキスト -->
    <section class="main">
      <div class="main__textArea">
        <p>Hello! SCSS&BEM!</p>
      </div>
      <div class="main__btn--success">
        早速使ってみる
      </div>
      <div class="main__btn--faile">
        遠慮しておく
      </div>
    </section>

    <section class="sample">
      <div class="sample__topArea">
        <p>TOP</p>
      </div>
      <div class="sample__line--mainArea">
        <p>main</p>
      </div>
      <div class="sample__line--bottomArea">
        <p>bottom</p>
      </div>
    </section>


    <!-- footer -->
    <%- include('./common/_footer') %>
  </body>
</html>
